<body style="background: black; color: white">
  <div>
    <h1 align="center">Add new comedian</h1>
    <%= form_for @comedians do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %><br>
      <br>
      <%= f.label :age %>
      <%= f.text_field :age %><br>
      <br>
      <%= f.label :birthplace %>
      <%= f.text_field :birthplace %><br>
      <br>
      <%= f.label :image_url %>
      <%= f.text_field :image_url %><br>
      <br>

      <%= f.submit 'Create Comedian' %>
    <% end %>
  </div><br>
  <%= link_to "<< Back to Comedians List", comedians_path %>
</body>
